/** CSS Reset **/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}


/** Utility Classes **/
.no-padding {
    --bs-gutter-x: unset !important;
}

/** Navigation CSS **/

.logo-brand {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

.nav-container {
    background-color: #5A4632; /* Matches the brown color in the image */
    padding: 15px;
}

/* Secondary navigation buttons container */
.secondary-nav {
    display: flex;
    padding-bottom: 20px; /* Adds some space beneath the buttons */
}

.btn-secondary-nav {
    background-color: #5A4632;
    color: #f8f9fa;
    border: 2px solid #D0A84C; /* Goldish border to match the style */
    padding: 10px 30px; /* Increases padding for bigger button feel */
    border-radius: 0 !important;
    outline: none; /* Ensures no outline on button */
}

.btn-secondary-nav:hover {
    background-color: #937144; /* Slightly different color on hover */
    color: #fff;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show{
    background-color: #5A4632 !important;
    color: #f8f9fa !important;
    border: 2px solid #D0A84C !important;
}

/* Active (clicked) state stays applied */
.btn-secondary-nav.active {
    background-color: #f8f9fa !important; /* Keep hover color */
    color: #5A4632 !important;
    border-color: #D0A84C !important; /* Optional: keep border color if different */
}


/** End Navigation **/

/** Footer CSS **/
.footer {
    background-color: #5A4632; /* Brown background */
    color: #D0A84C; /* Gold text color */
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin-top: auto; /* Pushes footer to the bottom */
}

.footer-text {
    margin: auto;
    padding: 5px;
    color: #fff;
    font-weight: lighter;
}


/** CHART JS **/

/* Set chart containers to be centered */
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh !important;
    width: 100% !important;
}

/* Limit the max width of each chart */
canvas {
    max-width: 80% !important;
    height: 60vh !important;
}

/** CHART JS **/
